# MongoDB Connection String (Atlas or Local)
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.example.mongodb.net/?appName=Cluster0
# For local MongoDB: MONGO_URI=mongodb://localhost:27017/smartserve_db

# Flask Secret Key
SECRET_KEY=your_secret_key_here

# Admin Login Credentials
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
